<a href="https://colab.research.google.com/github/pramilabalan/ineuron/blob/master/Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a program which accepts a sequence of comma-separated numbers from console  and generate a list.

In [38]:
my_input=input('Enter comma sep text')
my_input

Enter comma sep textefsrf, 343rtgt, 34545,fergtg,34

'efsrf, 343rtgt, 34545,fergtg,34'

In [39]:
final_list=my_input.split(',')
final_list

['efsrf', ' 343rtgt', ' 34545', 'fergtg', '34']

In [36]:
type(final_list)

list

2. Create the below pattern using nested for loop in Python. 




            * 
            * * 
            * * * 
            * * * * 
            * * * * * 
            * * * * 
            * * * 
            * * 
            *

In [12]:
for i in range(1,7):
  if i<=5:
    print("*"*i)
  else:
   for k in reversed(range(0,4)):
     print("*"*k)

*
**
***
****
*****
***
**
*